//
// Sidebar Core
// --------------------------------------------------

.fxp-sidebar {
    position: fixed !important;
    top: 0;
    overflow: hidden;
    bottom: 0;
    z-index: $zindex-sidebar;
    width: $sidebar-width;
    cursor: default;
    -moz-user-select: none;
    user-select: none;
    border-left: none;
    border-right: 1px solid transparent;

    -webkit-transform: translate3d(-$sidebar-width, 0px, 0px);
    transform: translate3d(-$sidebar-width, 0px, 0px);

    &.fxp-sidebar-ready {
        -webkit-transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
    }

    &.fxp-sidebar-open {
        -webkit-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }

    .fxp-sidebar-menu {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100%;
        list-style: none;
        text-align: left;
        font-size: $sidebar-default-font-size;
        direction: ltr;

        &,
        & ul,
        & li,
        & span,
        & a {
            touch-action: pan-y;
        }
    }

    &.fxp-sidebar-ready {
        .fxp-sidebar-menu {
            overflow-y: auto;
        }
    }

    .fxp-sidebar-group-menu {
        padding: 0;
        margin: 0;
    }

    .fxp-sidebar-group,
    .fxp-sidebar-group-menu,
    .fxp-sidebar-item {
        display: block;
    }

    .fxp-sidebar-group > span,
    .fxp-sidebar-item > a {
        display: block;
        height: 100%;
        padding: 12px 15px;
        text-decoration: none;
        position: relative;

        &:empty {
            padding: 0;
        }
    }

    .fxp-sidebar-item {

        > a.active {
            border-left: 5px solid;
            padding: 12px 15px 12px 10px;
        }

        &.fxp-sidebar-item-mini {
            > a.active {
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }

    .fxp-sidebar-item.fxp-sidebar-item-mini {
        font-size: 0.85em;

        > a {
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }

    .fxp-sidebar-group {
        > span {
            font-family: $headings-font-family;
            font-size: $sidebar-default-group-size;
            border-top: 1px solid transparent;

            &.no-bar {
                border-top: none;
            }
        }

        &.sticky-header {
            position: absolute;
            height: auto;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            margin-top: 0;
        }

        + .fxp-sidebar-item {
            margin-top: 32px;
            border-top: 1px solid transparent;
        }
    }

    .fxp-sidebar-divider-item {
        border-top: 1px solid transparent;
    }

    .fxp-sidebar-item > a {
        cursor: pointer;
    }

    &[data-clickable-swipe="true"] {
        + .fxp-sidebar-swipe {
            cursor: pointer;
            -webkit-transition: background-color 0.3s ease;
            transition: background-color 0.3s ease;
            border-radius: 10px;
        }
    }
}

.fxp-sidebar-swipe {
    position : fixed;
    z-index: $zindex-sidebar-swipe;
    width: 10px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.01;

    -moz-user-select: none;
    user-select: none;

    .fxp-sidebar-disabled + & {
        display: none;
    }
}

.fxp-sidebar-open + .fxp-sidebar-swipe,
.fxp-sidebar-force-open + .fxp-sidebar-swipe {
    left: $sidebar-width;
}

.fxp-sidebar-obfuscator {
    position: fixed;
    display: block;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    @include transition("opacity #{$sidebar-obfuscator-duration} ease, z-index 0s linear #{$sidebar-obfuscator-duration}");

    .fxp-sidebar-open ~ & {
        @include transition("opacity #{$sidebar-obfuscator-duration} ease");
        z-index: $zindex-sidebar-obfuscator;
        opacity: 1;
    }

    .fxp-sidebar-force-open ~ & {
        @media (min-width: map-get($grid-breakpoints, 'lg')) {
            z-index: -1;
            opacity: 0;
        }
    }
}

// Sidebar Right
// -------------------------

.fxp-sidebar-right {
    &.fxp-sidebar {
        right: 0;
        border-right: none;
        border-left: 1px solid transparent;
        -webkit-transform: translate3d($sidebar-width, 0px, 0px);
        transform: translate3d($sidebar-width, 0px, 0px);

        &.fxp-sidebar-open {
            -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
        }

        .fxp-sidebar-menu {
            direction: rtl;
        }

        .fxp-sidebar-item {
            > a.active {
                border-left: inherit;
                border-right: 5px solid;
                padding: 12px 10px 12px 15px;
            }

            &.fxp-sidebar-item-mini {
                > a.active {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
    }

    + .fxp-sidebar-swipe {
        left: auto;
        right: 0;
    }

    &.fxp-sidebar-open + .fxp-sidebar-swipe,
    &.fxp-sidebar-force-open + .fxp-sidebar-swipe {
        right: $sidebar-width;
    }
}

.fxp-sidebar {
    &.fxp-sidebar-default {
        &.fxp-sidebar-open,
        &.fxp-sidebar-dragging {
            @include box-shadow(3px 0 4px rgba(0, 0, 0, 0.18));
        }
    }

    &.fxp-sidebar-inverse {
        &.fxp-sidebar-open,
        &.fxp-sidebar-dragging {
            @include box-shadow(3px 0 4px rgba(0, 0, 0, 0.32));
        }
    }
}

// Sidebar Right
// -------------------------

.fxp-sidebar-right {
    &.fxp-sidebar {
        &.fxp-sidebar-default {
            &.fxp-sidebar-open,
            &.fxp-sidebar-dragging {
                @include box-shadow(-3px 0 4px rgba(0, 0, 0, 0.18));
            }
        }

        &.fxp-sidebar-inverse {
            &.fxp-sidebar-open,
            &.fxp-sidebar-dragging {
                @include box-shadow(-3px 0 4px rgba(0, 0, 0, 0.32));
            }
        }
    }
}

// Responsive
// -------------------------

@media (max-width: (map-get($grid-breakpoints, 'md') - 1)) {
    .fxp-sidebar {
        width: 80%;
        -webkit-transform: translate3d(-100%, 0px, 0px);
        transform: translate3d(-100%, 0px, 0px);
    }

    .fxp-sidebar-open + .fxp-sidebar-swipe,
    .fxp-sidebar-force-open.fxp-sidebar-open + .fxp-sidebar-swipe {
        left: 80%;
    }

    .fxp-sidebar-force-open {
        + .fxp-sidebar-swipe {
            left: 0;
        }
    }

    .fxp-sidebar-right {
        &.fxp-sidebar {
            -webkit-transform: translate3d(100%, 0px, 0px);
            transform: translate3d(100%, 0px, 0px);
        }

        &.fxp-sidebar-open + .fxp-sidebar-swipe {
            left: auto;
            right: 80%;
        }

        &.fxp-sidebar-force-open {
            + .fxp-sidebar-swipe {
                left: auto;
                right: 0;
            }
        }
    }
}

@media (max-width: (map-get($grid-breakpoints, 'lg') - 1)) {
    .fxp-sidebar-force-open {
        &.fxp-sidebar:not(.fxp-sidebar-open) + .fxp-sidebar-swipe {
            left: 0;
        }
    }
}

@media (min-width: ((map-get($grid-breakpoints, 'lg') - 1) + 1)) {
    .fxp-sidebar {
        &.fxp-sidebar-open-init {
            -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
        }

        &.fxp-sidebar-mini:not(.fxp-sidebar-open) {
            -webkit-transform: translate3d((-$sidebar-width + $sidebar-mini-width), 0px, 0px);
            transform: translate3d((-$sidebar-width + $sidebar-mini-width), 0px, 0px);

            &.fxp-sidebar-right {
                -webkit-transform: translate3d(($sidebar-width - $sidebar-mini-width), 0px, 0px);
                transform: translate3d(($sidebar-width - $sidebar-mini-width), 0px, 0px);
            }
        }
    }

    .fxp-sidebar-force-open {
        &.fxp-sidebar.fxp-sidebar-default {
            &.fxp-sidebar-open,
            &.fxp-sidebar-dragging {
                @include box-shadow($sidebar-default-shadow-open-left);
            }
        }

        &.fxp-sidebar.fxp-sidebar-inverse {
            &.fxp-sidebar-open,
            &.fxp-sidebar-dragging {
                @include box-shadow($sidebar-inverse-shadow-open-left);
            }
        }
    }

    .fxp-sidebar-force-open.fxp-sidebar-right {
        &.fxp-sidebar.fxp-sidebar-default {
            &.fxp-sidebar-open,
            &.fxp-sidebar-dragging {
                @include box-shadow($sidebar-default-shadow-open-right);
            }
        }

        &.fxp-sidebar.fxp-sidebar-inverse {
            &.fxp-sidebar-open,
            &.fxp-sidebar-dragging {
                @include box-shadow($sidebar-inverse-shadow-open-right);
            }
        }
    }
}

@media (max-width: (map-get($grid-breakpoints, 'lg') - 1)) {
    .fxp-sidebar,
    .fxp-sidebar-swipe {
        top: 0 !important;
        bottom: 0 !important;
    }
}
