//
// Variables
// --------------------------------------------------


// COMPONENT VARIABLES
// --------------------------------------------------

// Text
// -------------------------

$sidebar-headings-font-family: $headings-font-family !default;

// Z-index master list
// -------------------------

$zindex-sidebar:        $zindex-fixed + 2 !default;
$zindex-sidebar-fixed:  $zindex-fixed + 1 !default;
$zindex-sidebar-static: 0 !default;

$zindex-sidebar-swipe:        $zindex-sidebar - 1 !default;
$zindex-sidebar-swipe-fixed:  $zindex-sidebar-fixed - 1 !default;
$zindex-sidebar-swipe-static: $zindex-sidebar-static - 1 !default;

$zindex-sidebar-obfuscator:        $zindex-sidebar - 1 !default;
$zindex-sidebar-obfuscator-fixed:  $zindex-sidebar-fixed - 1 !default;
$zindex-sidebar-obfuscator-static: $zindex-sidebar-static - 1 !default;

// Grid
// -------------------------

$sidebar-grid-gutter-width: $grid-gutter-width !default;

$sidebar-container-padding-x: $sidebar-grid-gutter-width / 2 !default;

$sidebar-grid-breakpoints: $grid-breakpoints !default;

$sidebar-container-max-widths: $container-max-widths !default;

$sidebar-force-open-breakpoint: 'lg' !default;
$sidebar-mobile-breakpoint: 'md' !default;

// Custom Sidebar
// -------------------------

$sidebar-prefix:                     'fxp-' !default;
$sidebar-width:                      210px !default;
$sidebar-mini-width:                 round($sidebar-width / 3) !default;
$sidebar-right-width:                $sidebar-width !default;
$sidebar-right-mini-width:           round($sidebar-right-width / 3) !default;
$sidebar-clickable-swipe-bg:         fade($primary, 23%) !default;
$sidebar-obfuscator-bg:              rgba(0, 0, 0, 0.5) !default;
$sidebar-obfuscator-duration:        '0.3s' !default;
$sidebar-navbar-height:              56px !default;

$sidebar-default-font-size:          $font-size-base !default;
$sidebar-default-color:              $gray-900 !default;
$sidebar-default-bg:                 #fff !default;
$sidebar-default-border-color:       $gray-200 !default;
$sidebar-default-group-color:        darken($sidebar-default-bg, 14%) !default;
$sidebar-default-group-size:         $h3-font-size !default;
$sidebar-default-link-color:         $gray-900 !default;
$sidebar-default-link-mini-color:    lighten($sidebar-default-link-color, 14%) !default;
$sidebar-default-link-bg:            transprent !default;
$sidebar-default-link-hover-color:   null !default;
$sidebar-default-link-hover-bg:      $gray-200 !default;
$sidebar-default-link-active-color:  $primary !default;
$sidebar-default-link-active-bg:     $sidebar-default-link-bg !default;
$sidebar-default-icon-color:         $sidebar-default-link-color !default;
$sidebar-default-icon-bg:            $primary !default;
$sidebar-default-scrollbar-bg:       #555 !default;
$sidebar-default-shadow-open-left:   none !default;
$sidebar-default-shadow-open-right:  $sidebar-default-shadow-open-left !default;

$sidebar-inverse-color:              $navbar-dark-color !default;
$sidebar-inverse-bg:                 #2a3542 !default;
$sidebar-inverse-border-color:       lighten($sidebar-inverse-bg, 5%) !default;
$sidebar-inverse-group-color:        lighten($sidebar-inverse-bg, 14%) !default;
$sidebar-inverse-link-color:         $sidebar-inverse-color !default;
$sidebar-inverse-link-mini-color:    lighten($sidebar-inverse-link-color, 14%) !default;
$sidebar-inverse-link-bg:            $sidebar-inverse-bg !default;
$sidebar-inverse-link-hover-color:   null !default;
$sidebar-inverse-link-hover-bg:      lighten($sidebar-inverse-link-bg, 5%) !default;
$sidebar-inverse-link-active-color:  lighten($primary, 46%) !default;
$sidebar-inverse-link-active-bg:     $sidebar-inverse-link-bg !default;
$sidebar-inverse-icon-color:         $sidebar-inverse-link-active-color !default;
$sidebar-inverse-icon-bg:            lighten($primary, 46%) !default;
$sidebar-inverse-scrollbar-bg:       lighten($sidebar-inverse-bg, 70%) !default;
$sidebar-inverse-shadow-open-left:   $sidebar-default-shadow-open-left !default;
$sidebar-inverse-shadow-open-right:  $sidebar-inverse-shadow-open-left !default;
