//
// Wrapper Bootstrap
// --------------------------------------------------

.fxp-sidebar:not(.fxp-sidebar-full-locked) {
    &.fxp-sidebar-fixed-top,
    &.fxp-sidebar-fixed-bottom {
        z-index: @zindex-sidebar-fixed;

        + .fxp-sidebar-swipe {
            z-index: @zindex-sidebar-swipe-fixed;
        }

        &.fxp-sidebar-open ~ .fxp-sidebar-obfuscator {
            @media (max-width: @screen-sm-max) {
                z-index: @zindex-sidebar-obfuscator-fixed;
            }
        }
    }
}

@media (max-width: @screen-sm-max) {
    .fxp-sidebar:not(.fxp-sidebar-full-locked) {
        &.fxp-sidebar-fixed-top,
        &.fxp-sidebar-fixed-bottom {
            z-index: @zindex-sidebar;

            + .fxp-sidebar-swipe {
                z-index: @zindex-sidebar-swipe;
            }

            &.fxp-sidebar-open ~ .fxp-sidebar-obfuscator {
                z-index: @zindex-sidebar-obfuscator;
            }
        }
    }
}

@media (min-width: @screen-md-min) {
    .fxp-sidebar.fxp-sidebar-locked:not(.fxp-sidebar-full-locked) {
        &.fxp-sidebar-static-top,
        &.fxp-sidebar-static-bottom {
            z-index: @zindex-sidebar-static;

            + .fxp-sidebar-swipe {
                z-index: @zindex-sidebar-swipe-static;
            }

            &.fxp-sidebar-open ~ .fxp-sidebar-obfuscator {
                @media (max-width: @screen-sm-max) {
                    z-index: @zindex-sidebar-obfuscator-static;
                }
            }
        }

        &.fxp-sidebar-static-top {
            > .sticky-header {
                padding-top: @navbar-height + 1 !important;
            }

            .fxp-sidebar-menu {
                > .fxp-sidebar-group:first-child,
                > .fxp-sidebar-item:first-child {
                    padding-top: @navbar-height + 1;
                }
            }
        }

        &.fxp-sidebar-static-bottom {
            .fxp-sidebar-menu {
                > .fxp-sidebar-group:last-child,
                > .fxp-sidebar-item:last-child {
                    padding-bottom: @navbar-height;
                }
            }
        }

        &.fxp-sidebar-fixed-top {
            top: @navbar-height;
        }

        &.fxp-sidebar-fixed-bottom {
            bottom: @navbar-height;
        }
    }

    .fxp-sidebar.fxp-sidebar-locked {
        ~ .fxp-sidebar-obfuscator {
            display: none;
        }
    }
}

//
// Bootstrap Container Main
// --------------------------------------------------

.container-main {
    &.container-force-open-left {
        @media (min-width: @screen-md-min) {
            padding-left: @sidebar-width;
        }
    }

    &.container-force-open-right {
        @media (min-width: @screen-md-min) {
            padding-right: @sidebar-width;
        }
    }

    &.container-force-open-left,
    &.container-force-open-right {
        > .container,
        > .navbar > .container {
            @media (min-width: @screen-md-min) {
                width: @container-md - @sidebar-width;
            }
            @media (min-width: @screen-lg-min) {
                width: @container-lg - @sidebar-width;
            }
            @media (min-width: (@screen-lg-min + @sidebar-width)) {
                width: @container-lg;
            }
        }
    }

    &.container-full-locked {
        &.container-force-open-left {
            > .navbar > .container-fluid {
                @media (min-width: @screen-md-min) {
                    padding-left: @sidebar-width;
                }
            }
        }

        &.container-force-open-right {
            > .navbar > .container-fluid {
                @media (min-width: @screen-md-min) {
                    padding-right: @sidebar-width ;
                }
            }
        }
    }

    &.container-force-open-left.container-force-open-right {
        > .container,
        > .navbar > .container {
            @media (min-width: @screen-md-min) {
                width: @container-md - (@sidebar-width * 2);
            }
            @media (min-width: @screen-lg-min) {
                width: @container-lg - (@sidebar-width * 2);
            }
            @media (min-width: (@screen-lg-min + @sidebar-width)) {
                width: @container-lg - @sidebar-width;
            }
            @media (min-width: (@screen-lg-min + (@sidebar-width * 2))) {
                width: @container-lg;
            }
        }
    }

    &.container-mini-left {
        @media (min-width: @screen-md-min) {
            padding-left: @sidebar-mini-width;
        }

        > .navbar > .container-fluid {
            @media (min-width: @screen-md-min) {
                padding-left: @sidebar-mini-width;
            }
        }
    }

    &.container-mini-right {
        @media (min-width: @screen-md-min) {
            padding-right: @sidebar-mini-width;
        }

        > .navbar > .container-fluid {
            @media (min-width: @screen-md-min) {
                padding-right: @sidebar-mini-width;
            }
        }
    }

    &.container-mini-left,
     &.container-mini-right {
         > .container,
         > .navbar > .container {
             @media (min-width: @screen-md-min) {
                 width: @container-md - @sidebar-mini-width;
             }
             @media (min-width: @screen-lg-min) {
                 width: @container-lg - @sidebar-mini-width;
             }
             @media (min-width: (@screen-lg-min + @sidebar-mini-width)) {
                 width: @container-lg;
             }
         }
     }
}
